@model ProfileDetailsViewModel


@{
    ViewData["Title"] = "Profil Detayları";
}

<div class="card">
    <div class="card-header">
        <h3>Kullanıcı Bilgileri</h3>
    </div>
    
    @if (Model.RoleId == 1)
    {
        <a href="https://localhost:7220" class="btn btn-danger">
            <i class="fa-solid fa-lock"></i> Admin Paneline Git
        </a>
    }

    @if (User.IsInRole("seller"))
    {
        <span><a class="btn btn-success" asp-action="MyProducts" asp-controller="Profile">Ürünlerim</a></span>
    }


    @if (ViewBag.request == false && Model.RoleId == 3)
    {
        <form asp-action="SellerRequest" asp-controller="Profile" asp-route-id="@ViewBag.Id" method="post" style="display:inline;">
            <button type="submit" class="btn btn-primary">Satıcı Olma İsteğinde bulun</button>
        </form>

    }


    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Adı:</dt>
            <dd class="col-sm-9">@Model.FirstName</dd>

            <dt class="col-sm-3">Soyadı:</dt>
            <dd class="col-sm-9">@Model.LastName</dd>

            <dt class="col-sm-3">E-posta:</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Telefon:</dt>
            <dd class="col-sm-9">@Model.Phone</dd>

            <dt class="col-sm-3">Adres:</dt>
            <dd class="col-sm-9">@Model.Address</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" class="btn btn-warning">Düzenle</a>
    </div>
    
</div>